# Ignore le contenu mais conserve le dossier
dataStorage/dataLake/**
dataStorage/dataWarehouse/**
dataStorage/dataMart/**

!dataStorage/dataLake/.gitkeep
!dataStorage/dataWarehouse/.gitkeep
!dataStorage/dataMart/.gitkeep

dataStorage/**

