# Ignore le contenu mais conserve le dossier
dataStorage/dataLake/*
# !./dataStorage/dataLake/.gitkeep

dataStorage/dataWarehouse/*
# !./dataStorage/dataWarehouse/.gitkeep

dataStorage/dataMart/*
# !./dataStorage/dataMart/.gitkeep
